*{
  color: aliceblue;
}

.black{
  color: black;
}

.colorfondo {
  background-color: rgb(24,25,26);
}

.colorPublicacion {
  background-color: rgb(36,37,38);
}

.colorComentario {
  background-color: rgb(58,59,60);
  border-radius: 10px;
}

.float {
  float: right;
  width: auto;
}

.feizvuk {
  background-color: rgb(7,119,233);
  margin: 0px !important;
  margin-bottom: 14px !important;
  padding: 10px !important;
}